body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color:#3F240D;
  background-color: #fdfdff;
}
main{
  padding:110px 0;
}
h1{
  font-size: 30px;
}
.classic-button{
  font: inherit;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  background-color: #E7D8C5;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.5;
}
header{
  position: fixed;
  width: 100%;
  padding-right: 100px;
  height:100px;
  align-items: center;
  background-color: darkseagreen;
  display: flex;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
justify-content: space-between;
}
.menu-title, .menu-nav-title, .cart-title{
  text-align:center;
}
.menu{
  display: flex;
  width:100%;
}
.menu-nav-container{
  width:15%;
  position: fixed;
  
}
.menu-list-container{
  margin-left: 20%;
  width:55%;
}
.cart-container{
  position: fixed;
  margin-left: 77%;
  width: 20%;
  margin-right: 5%;
  
}
.cart-list{
  overflow: scroll;
  overflow-x: hidden;
  height: 50svh;

  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 60px;
}
.cart-list-element{
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-top:5px;
  padding:4% 8%;
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(22, 49, 82, 0.12);
}
.cart-el-info{
width: 70%;
}
.pos-amount{
  border-radius: 15px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #E7D8C5;
  height: 30px;
  width: 20%;
}
.minus-button{
  width: 20px;
  height: 20px;
  border: none;
  background-color: #E7D8C5;
  background-image: url('minus-sign-of-a-line-in-horizontal-position-svgrepo-com.svg');
  background-size: cover;
}
.plus-button{
  width: 20px;
  height: 20px;
  border: none;
  background-color: #E7D8C5;
  background-image: url('plus-sign-svgrepo-com.svg');
  background-size: cover;
}
.total-container{
  display: flex;
  justify-content: space-between;
}
.total-buy-button{
  margin:10px;
}
.total-price{
  margin-left:10px;
  margin-top: 10px;
  font-weight:bold;
 font-size: large;
}
.menu-nav-list{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  list-style: none;
  gap: 5px;
  
}
.menu-list {
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 30px;
}
.menu-item {
  width: 220px;
  padding: 10px;
  box-shadow: 0 4px 30px rgba(22, 49, 82, 0.12);
}
.item-image{
  width: 200px;
  height: 200px;
  display: block;
  margin-bottom: 10px;
}

#cart-list {
  list-style-type: none;
  padding: 0;
}

.closeModal:hover {
  opacity: 1;
}

.closeModal:active {
  opacity: 0.3 ;
}